# Dependency and build artifacts
node_modules/
dist/

# Local config & logs

npm-debug.log*
*.log

# Docker & Kubernetes manifests
Dockerfile
docker-compose.yml
k3s-deployment.yaml

# VCS & editor metadata
.git/
.gitignore
.vscode/
.idea/
