# dependencies and logs
node_modules
npm-debug.log*
*.log

# local env & editor configs

.vscode
.idea

# Git and tooling files
.git
.gitignore

# Docker & k3s manifests (not needed in build context)
Dockerfile
docker-compose.yml
k3s-deployment.yaml
