# Ignore node_modules
node_modules

# Ignore environment files
.env

# Ignore logs
*.log

# Ignore Docker related intermediate files
Dockerfile
docker-compose.yml

# Ignore dev/IDE files
.git
.gitignore
.vscode
.idea
npm-debug.log
